body {
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
	background-color: lightgray;
	color: #444;
}

a:link {
	color: #444;
}

a:visited {
	color: midnightblue;
}

.button {
	border: 0;
	border-radius: 8px;
	color: #F67A00;
	background-color: #444;
	font-size: 10px;
}

.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	background: url('../images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 1em;
	border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
	margin-bottom: 1em;
}

.inspiration { 
	margin-left: 3em;
}

.results-container {
	margin-top: 1em;
}

.search-results {
	font-style: italic;
}

.result {
	border-bottom: 1.75px solid darkgray;
	list-style-type: none;
	margin: 0.5em auto;
	padding: 0.5em auto;
}

#answerBox {
	padding: 0.5em;
}

.question-text, .profile-image, .display_name {
	font-style: italic;
	font-size: 24px;
}

.error {
	background-color: #F78181;
	padding: 1em;
}
